version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
    groups:
      github-actions:
        patterns:
          - '*'

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    groups:
      dev-deps:
        dependency-type: 'development'
        update-types:
          - patch
          - minor
      prod-deps:
        dependency-type: 'production'
        update-types:
          - patch
          - minor

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: quarterly
    groups:
      dev-deps:
        dependency-type: 'development'
        update-types:
          - major
      prod-deps:
        dependency-type: 'production'
        update-types:
          - major
