version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
    groups:
      github-actions:
        patterns:
          - '*'

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    groups:
      dev-deps:
        dependency-type: 'development'
      prod-deps:
        dependency-type: 'production'
